# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# Coverage reports
coverage/

# Temporary files
*.tmp

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing files
test/
tests/
spec/

# Miscellaneous
*.tgz

# Packages
package-lock.json